.env

resultados/*
!resultados/.gitkeep
!resultados/qiime2/
!resultados/qiime2/.gitkeep
!resultados/exportados/
!resultados/exportados/.gitkeep
!resultados/phyloseq/
!resultados/phyloseq/.gitkeep

datos/se-33/*.fastq.gz

__pycache__/
.ipynb_checkpoints/
